.aboutMe {
    min-height: 150vh;
    position: relative;
}

.aboutMeContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.innerContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: self-end;
}

.photo {
    max-width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    width: 50%;
    height: 35rem;
}

.innerDescription {
    max-width: 50%;
    background: #020312;
}

.title {
    color: #ffffff;
    font-size: 1.35rem !important;
    margin-bottom: 40px;
    padding: 1.5rem 2.25rem;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.description {
    line-height: 1.6875rem;
    margin-bottom: 1.875rem;
    color: #dfdfdf;
    box-sizing: border-box;
    font-size: 1rem;
}

.contactsContainer {
    background: rgba(29, 33, 36, 0.3);
    padding: 30px;
    margin-bottom: 30px;
    font-size: 1rem;
    /*border: 1px solid white;*/
}

.contacts {
    display: flex;
    justify-content: flex-start;
    height: 7rem;
}

.phone {
    margin-left: 4rem;
}

.buttons {
    display: flex;
}

.firstButton {
    margin-right: 1rem;
}

/*@media screen and (max-width: 1335px){*/
/*    .innerContainer {*/

/*    }*/
/*    .photo {*/
/*    }*/
/*    .innerDescription {*/
/*    }*/
/*    .title {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*    .description {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*    .contactsContainer {*/
/*    }*/
/*    .contacts {*/
/*        justify-content: space-between;*/
/*    }*/
/*    .buttons {*/
/*    }*/
/*}*/

@media screen and (max-width: 1023px) {
    .contacts {
        height: 8rem;
    }
}

@media screen and (max-width: 990px) {
    .innerContainer {
        align-items: center;
        padding-bottom: 2rem
    }

    .photo {
        width: 100%;
        max-width: none;
    }

    .innerDescription {
        max-width: 100%;
        align-items: center;
    }

    .title {
        display: flex;
        justify-content: center;
    }

    .description {
        display: flex;
        justify-content: center;
    }

    .contactsContainer {
        padding: 30px;
    }

    .contacts {
        height: 7rem;
        justify-content: space-around;
    }

    .buttons {
        justify-content: center;
    }
}

@media screen and (max-width: 512px) {
    .nameEmail {
        text-align: center;
    }

    .phone {
        text-align: center;
        margin-left: 0;
    }

    .contacts {
        display: initial;
    }
}

@media screen and (max-width: 460px) {
    .buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .firstButton {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}