@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.aboutMe {
  min-height: 150vh;
  position: relative;

  .aboutMeContainer {
    @include contentLocation(none, flex-start, none, column);

    .innerContainer {
      @include contentLocation(flex, none, self-end, none);
      flex-wrap: wrap;
      width: 100%;
      @media screen and (max-width: 990px) {
        align-items: center;
        padding-bottom: 2rem
      }

      .photo {
        max-width: 50%;
        @include background;
        opacity: 0.3;
        width: 50%;
        height: 35rem;
        @media screen and (max-width: 990px) {
          width: 100%;
          max-width: none;
        }
      }

      .innerDescription {
        max-width: 50%;
        background: $bgColor;
        @media screen and (max-width: 990px) {
          max-width: 100%;
          align-items: center;
        }

        .title {
          @include text($titleFontFamily, 1.35rem ! important, 1rem, 400, $textTitleColor);
          margin-bottom: 40px;
          padding: 1.5rem 2.25rem;


          @media screen and (max-width: 990px) {
            @include contentLocation(flex, center, none, none);
          }
        }

        .description {
          line-height: 1.6875rem;
          margin-bottom: 1.875rem;
          color: $textDescriptionColor;
          box-sizing: border-box;
          font-size: 1rem;
          @media screen and (max-width: 990px) {
            @include contentLocation(flex, center, none, none);
          }
        }

        .contactsContainer {
          background: rgba(29, 33, 36, 0.3);
          padding: 30px;
          margin-bottom: 30px;
          font-size: 1rem;
          @media screen and (max-width: 990px) {
            padding: 30px;
          }

          .contacts {
            @include contentLocation(flex, flex-start, none, none);
            height: 7rem;
            @media screen and (max-width: 1023px) {
              height: 8rem;
            }
            @media screen and (max-width: 990px) {
              height: 7rem;
              justify-content: space-around;
            }
            @media screen and (max-width: 512px) {
              display: initial;
            }
          }

          .nameEmail {
            @media screen and (max-width: 512px) {
              text-align: center;
            }
          }

          .phone {
            margin-left: 4rem;
            @media screen and (max-width: 512px) {
              text-align: center;
              margin-left: 0;

            }
          }
        }
      }

      .buttons {
        display: flex;
        @media screen and (max-width: 990px) {
          justify-content: center;
        }
        @media screen and (max-width: 460px) {
          @include contentLocation(flex, none, center, none);
          flex-direction: column;
        }

        .firstButton {
          margin-right: 1rem;
          @media screen and (max-width: 460px) {
            margin-right: 0;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
