@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.nav {
  width: 300px;
  @include contentLocation(flex, space-between, none, none);

  & > a {
    text-decoration: none;
    @include text($titleFontFamily, 1.2rem, none, 400, $textTitleColor);
  }

  & > a:hover {
    text-decoration: underline;
    @include text(none, none, none, 500, $textTitleColor);
  }
}



