@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.nav {
  width: 400px;
  display: flex;
  justify-content: space-between;

  & > a {
    text-decoration: none;
    @include text($titleFontFamily, 1.2rem, 400, $textTitleColor);
  }

  .activeLink {
    text-decoration: underline;
    @include text($titleFontFamily, 1.2em, 500, $textTitleColor);
  }

  & > a:hover {
    text-decoration: none;
    cursor: pointer;
    @include text($titleFontFamily, 1.2em, 500, $textTitleColor);
  }
}



