@import "../../../styles/sass/variables";
@import "../../../styles/sass/mixins";

.skill {
  width: 250px;
  background-color: $bgSecondColor;
  justify-content: start;
  text-align: start;
  padding: 20px;
  box-sizing: border-box;

  .skillHeader {
    @include centering;
    flex-direction: column;

    h4 {
      @include text($titleFontFamily, 1.5rem, 500, $textTitleColor);
      line-height: 1.5em;
      margin: 20px 0 0;
      text-align: center;
    }
  }

  .description {
    @include text($descriptionFontFamily, 16px, normal, $textDescriptionColor);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    height: 130px;
    cursor: inherit;

    &::-webkit-scrollbar {
      display: none;
    }
    &:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 40px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $bgSecondColor 100%);
      pointer-events: none;
    }
    &.hideGradient:after {
      display: none;
    }
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  }
}




