@import "../../../styles/sass/variables";
@import "../../../styles/sass/mixins";

.icons {
  @include centering;
  padding-top: 24px;

  @media screen and (max-height: 600px) {
    padding-top: 0;
  }

  a {
    padding-right: 20px;
    @include centering;
    flex-direction: column;
    text-decoration: none;
    color: #000;

    &:last-child {
      padding-right: 0;
    }

    p {
      padding-top: 10px;
      font-size: 12px;
      font-weight: 700;
    }

    svg {
      width: 48px;
      height: 48px;
      color: lightskyblue;
      border-radius: 50%;
      box-shadow: 0 10px 13px -4px rgba(35, 35, 95, 0.5);
    }

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      box-shadow: 0 10px 13px -4px rgba(35, 35, 95, 0.5);
    }
  }
}