@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.experience {
  min-height: 50vh;
  position: relative;

  .experienceContainer {
    justify-content: flex-start;
    flex-direction: column;
  }
}

