@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.title {
  text-align: center;
  margin: 30px 0 30px 0;
  position: relative;
  z-index: 1;

  h2 {
    @include text($titleFontFamily, 1.875rem, 500, $textTitleColor);
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.015px;
    margin: 0
  }

  .textCenter {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;

    &::before {
      width: 25px;
      height: 1px;
      @include pseudo('', absolute, -50px, 12px, 0, 0, 0.75, $primaryColor);
    }

    &::after {
      width: 25px;
      height: 1px;
      @include pseudo('', absolute, auto, 12px, -50px, auto, 0.75, $primaryColor);
    }

    span:nth-child(1) {
      @include titlePseudo(rotate(45deg));
    }

    span:nth-child(2) {
      @include titlePseudo(rotate(-45deg));
    }
  }
}










