@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.title {
  text-align: center;
  margin: 30px 0 30px 0;
  position: relative;
  z-index: 1;

  h2 {
    @include text($titleFontFamily, 1.875rem, 1.5em, 500, $textTitleColor);
    text-transform: uppercase;
    letter-spacing: 0.015px;
    margin: 0
  }

  .textCenter {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;

    &::before {
      @include pseudo('', 25px, 1px, absolute, -50px, 12px, none, none, 0.75, $primaryColor);
    }

    &::after {
      @include pseudo('', 25px, 1px, absolute, none, 12px, -50px, none, 0.75, $primaryColor);
    }

    span:nth-child(1) {
      position: absolute;
      width: 2px;
      height: 25px;
      border-right: 2px dotted;
      transform: rotate(45deg);
      border-right-color: $primaryColor
    }

    span:nth-child(2) {
      position: absolute;
      width: 2px;
      height: 25px;
      border-right: 2px dotted;
      transform: rotate(-45deg);
      border-right-color: $primaryColor
    }
  }
}










