.hireBlock {
    min-height: 25vh;
}

.hireContainer {
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    min-height: 200px;
}

.button {
    width: 125px;
    height: 40px;
    background-color: rgba(2, 195, 255);
}