@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.skill {
    width: 250px;
    background-color: $bgSecondColor;
    @include centering;
    //display: flex;
    //align-items: center;
    //justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    .title h4 {
        @include text($titleFontFamily, 1.5rem, 1.5em, 500);
        //font-family: 'Rubik', sans-serif;
        //color: #ffffff;
        //font-size: 1.5rem;
        //font-weight: 500;
        //line-height: 1.5em;
        margin: 20px 0px 20px 0px;
    }
    .description {
        font-family: $descriptionFontFamily;
        color: #dfdfdf;
    }
}




