@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.skill {
    width: 250px;
    background-color: $bgSecondColor;
    flex-direction: column;
    @include centering;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    .title h4 {
        @include text($titleFontFamily, 1.5rem, 500, $textTitleColor);
        line-height: 1.5em;
        margin: 20px 0 20px 0;
    }
    .description {
        @include text($descriptionFontFamily, 1em, normal, $textDescriptionColor);
    }
}




