@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.skill {
    width: 250px;
    background-color: $bgSecondColor;
    @include contentLocation(flex, center, center, column);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    .title h4 {
        @include text($titleFontFamily, 1.5rem, 1.5em, 500, $textTitleColor);
        margin: 20px 0px 20px 0px;
    }
    .description {
        @include text($descriptionFontFamily, none, none, none, $textDescriptionColor);
    }
}




