@import "src/common/styles/sass/variables";

.header {
  min-height: 5vh;
  background-color: $bgColor;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding-right: 3rem;
  @media screen and (max-width: 625px) {

    justify-content: center;
    padding-right: 0
  }
}

