.skillsBlock {
    min-height: 100vh;
    background-color: rgba(29,33,36,0.3);
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 625px) {
    .skills {
        justify-content: center;
    }
}