@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.header {
  min-height: 6vh;
  background-color: $bgColor;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding-right: 30px;
  //@media screen and (max-width: 625px) {
  //
  //  justify-content: center;
  //  padding-right: 0
  //}
}

