.button {
    width: 11rem;
    height: 3rem;
    background-color: #f26c4f;
    position: relative;
    z-index: 1;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
}

.button:hover {
    opacity: 0.5;
}

.innerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonTitle {
    margin-right: 0.3rem;
}