@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.button {
  width: 11rem;
  height: 3rem;
  background-color: $primaryColor;
  position: relative;
  z-index: 1;

  @include text($titleFontFamily, 1rem, 1rem, 500);
  text-transform: uppercase;
  border: none;

  &:hover {
    opacity: 0.5;
  }

  .innerButton {
    @include centering;
    //display: flex;
    //justify-content: center;
    //align-items: center;

    .buttonTitle {
      margin-right: 0.3rem;
    }
  }
}





