@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.projectsBlock {
  //min-height: 100vh;
  background-color: rgba(29, 33, 36, 0.3);
  padding-bottom: 30px;

  .projectsContainer {
    justify-content: flex-start;
    flex-direction: column;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 628px) {
          display: block;
          text-align: -webkit-center;
      }
    }
  }
}







