@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.projectsBlock {
  background-color: rgba(29, 33, 36, 0.3);
  padding-bottom: 30px;

  .projectsContainer {
    justify-content: flex-start;
    flex-direction: column;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      @media screen and (max-width: 767px) {
        justify-content: center;
      }
    }
  }
}







