@import "../../../../styles/sass/variables";
@import "../../../../styles/sass/mixins";

.contactIcon {
  display: flex;
  align-items: center;

  .label {
    background: $primaryColor;
    border-radius: 50%;
    height: 3rem;
    flex: 0 0 3rem;
    overflow: hidden;
    text-align: center;
    line-height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    position: relative;
    @include centering;
  }

  .text {
    color: $textTitleColor;
    font-weight: 600;
    letter-spacing: 0.015em;
  }
}

@media screen and (max-width: 670px){
  .contactIcon {
    flex-direction: column;
    margin-bottom: 10px;

    .label {
      margin: 0;
    }
    .text {
      padding-top: 5px;
    }
  }
}





