@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";


.skillsBlock {
  //min-height: 100vh;
  background-color: rgba(29, 33, 36, 0.3);
  padding-bottom: 30px;

  .skillsContainer {
    justify-content: flex-start;
    flex-direction: column;

    .skills {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 18px;
      @media screen and (max-width: 625px) {
        justify-content: center;
      }
    }
  }
}





