@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.footerBlock {
  min-height: 20vh;
  background-color: $bgColor;
  @include centering;

  .footerContainer {
    @include contentLocation(none, flex-start, none, column);
    width: 100%;

    .title {
      @include text($titleFontFamily, 1.875rem, 1.5em, 500, $textTitleColor);
      letter-spacing: 0.015px;
      margin: 0
    }

    .copyright {
      color: $textTitleColor;
      font-family: $descriptionFontFamily;
      margin-top: 0rem;
    }
  }
}





