.footerBlock {
    max-height: 25vh;
    background-color: #020312;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.title {
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.015px;
    margin: 0
}

.copyright {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0rem;
}