@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.inner {
  display: flex;
  flex-direction: column;
  flex: 1rem 1rem 0;
  width: 200px;
  height: 150px;
  @media screen and (max-width: 670px) {
    @include centering;
    //justify-content: center;
    //align-items: center;
    margin-bottom: 50px;
  }

  .innerLogo {
    margin-bottom: 20px;
    @media screen and (max-width: 670px) {
      margin-bottom: 10px;
    }
  }

  .innerTitle {
    @include text($titleFontFamily, 1.125rem, 1rem, 400);
    //font-family: 'Rubik', sans-serif;
    //font-size: 1.125rem;
    //line-height: 1rem;
    //font-weight: 400;
    //color: white;




    margin-bottom: 10px;
  }

  .innerDescription {
    font-family: $descriptionFontFamily;
    color: #dfdfdf;
    font-size: 0.875rem;
  }
}