* {
    box-sizing: border-box;
}

.App {
    min-width: 100%;
}

.footer-swiper-pagination {
    margin: 0 auto;
    width: 100%;
    left: 0;
    right: 0;
    top: 20px;
    max-width: 400px;
    pointer-events: initial;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 40px;
    height: 40px;
    background: transparent!important;
}

.swiper-pagination:hover .swiper-pagination-bullet {
    cursor: pointer;
    transform: translate3d(20px, 0px, 0px);
}

.swiper-pagination .parallax-wrap {
    width: 40px;
    height: 40px;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    pointer-events: initial;
}

.swiper-pagination .parallax-element {
    height: 40px;
    width: 40px;
    color: #000;
    text-align: center;
    line-height: 50px;
}

.fp-arc-loader {
    width: 20px;
    height: 20px;
    transform: translate3d(0px, 0px, 0px);
}
.fp-arc-loader:hover {
    transform: translate3d(10px, 0px, 0px);
}

.path {
    stroke: #0adac2;
}

.swiper-pagination-bullet-active .path {
    display: inline-block !important;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash ease-in 3s;
    animation-iteration-count: unset;
}

.swiper-pagination-bullet .path {
    stroke: #fff;
}

.swiper-pagination-bullet .solid-fill {
    fill: #000;
}