@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.project {
  width: 250px;
  background-color: $bgSecondColor;
  @include contentLocation(flex, none, flex-start, column);
  @media screen and (max-width: 628px) {
    margin-bottom: 30px;
  }

  .imgContainer {
    height: 200px;
    width: 100%;
    @include background;
    @include centering;
    position: relative;

    &::before {
      @include pseudo('', none, none, absolute, 0, 0, 0, 0, 0.4, black);
    }
  }

  .projectName {
    @include text($titleFontFamily, 1.2rem, 1.5em, 300, $textTitleColor);
    margin: 5% auto 0 auto;
  }

  .description {
    margin-top: 5%;
    margin-left: 10%;
    @include text($descriptionFontFamily, none, none, none, $textDescriptionColor);
    @media screen and (max-width: 628px) {
      margin: 0 auto;
    }
  }
}