@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.project {
  width: 250px;
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (max-width: 628px) {
    margin-bottom: 30px;
  }

  .imgContainer {
    height: 200px;
    width: 100%;
    @include background;
    //background-size: cover;
    //background-position: center;
    //background-repeat: no-repeat;
    @include centering;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: black;
      opacity: 0.4;
    }
  }

  .projectName {
    @include text($titleFontFamily, 1.2rem, 1.5em, 300);
    margin: 5% auto 0 auto;
  }

  .description {
    margin-top: 5%;
    margin-left: 10%;
    font-family: $descriptionFontFamily;
    color: #dfdfdf;
    @media screen and (max-width: 628px) {
      margin: 0 auto;
    }
  }
}