.project {
    width: 250px;
    background-color: #12141c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imgContainer {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgContainer::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
}

.projectName {
    margin: 5% auto 0 auto;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5em;
}

.description {
    margin-top: 5%;
    margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
    color: #dfdfdf;
}