@import 'variables';

//basic text properties
@mixin text ($fontFamily, $fontSize, $fontWeight ,$color) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

//centers the content inside the block horizontally and vertically
@mixin centering () {
  display: flex;
  justify-content: center;
  align-items: center;
}

//basic background properties
@mixin background () {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

//properties for pseudo
@mixin pseudo ($content, $position, $l, $t, $r, $b, $opacity, $background) {
  content: $content;
  position: $position;
  left: $l;
  top: $t;
  right: $r;
  bottom: $b;
  opacity: $opacity;
  background: $background;
}

//properties for pseudo in titles
@mixin titlePseudo ($transform) {
  position: absolute;
  width: 2px;
  height: 25px;
  border-right: 2px dotted;
  transform: $transform;
  border-right-color: $primaryColor
}
