$textTitleColor: #fff;
$textDescriptionColor: #dfdfdf;
$bgColor: #020312;
$bgSecondColor: #12141c;
$primaryColor: #f26c4f;
$titleFontFamily: 'Rubik', sans-serif;
$descriptionFontFamily: 'Open Sans', sans-serif;
