@import "src/common/styles/sass/variables";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: $primaryColor;
    .title {
        font-size: 3rem;
        color: $primaryColor;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }
    .subtitle {
        font-size: 2rem;
    }
}



