@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.wrapper {
    @include contentLocation(flex, none, center, column);
    text-align: center;
    height: 100vh;
    color: $primaryColor;
    .title {
        font-size: 3rem;
        color: $primaryColor;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }
    .subtitle {
        font-size: 2rem;
    }
}



