@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.contactIcon {
  display: flex;
  align-items: center;
  @media screen and (max-width: 670px) {
    margin-bottom: 10px;
  }

  .label {
    background: $primaryColor;
    border-radius: 50%;
    height: 3rem;
    flex: 0 0 3rem;
    overflow: hidden;
    text-align: center;
    line-height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    position: relative;
    @include centering;
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }

  .text {
    color: $textColor;
    font-weight: 600;
    letter-spacing: 0.015em;
  }
}





