.aboutMe {
    min-height: 150vh;
    position: relative;
}

.aboutMeContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.innerContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: initial;
}

.photo {
    min-width: 50%;
    background-color: #12141c;
    background-position: center;
    background-size: cover;
}

.innerDescription {
    width: 50%;
    background: #020312;
}

.title {
    color: #ffffff;
    font-size: 1.35rem !important;
    margin-bottom: 40px;
    padding: 1.5rem 2.25rem;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.description {
    line-height: 1.6875rem;
    margin-bottom: 1.875rem;
    color: #dfdfdf;
    box-sizing: border-box;
    font-size: 1rem;
}

.contactsContainer {
    background: rgba(29,33,36,0.3);
    padding: 30px;
    margin-bottom: 30px;
    font-size: 1rem;
}

.contacts {
    display: flex;
    justify-content: flex-start;
    height: 7rem;
}
.phone {
    margin-left: 4rem;
}

.contactTitle {
    color: #F26C4F;
    font-weight: bold;
}
.contactDescription {
    color: #dfdfdf;
    margin: 0 0 1.5em;
}

.buttons {
    display: flex;
}
.firstButton {
    margin-right: 1rem;
}

.adressContainer {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    margin: 0 0 45px 0;
    padding: 0px 40px 0px 0px;
    justify-content: flex-start;
}

.inner {
    display: flex;
    flex-direction: column;
    flex: 1rem 1rem 0
}
.innerLogo {
    margin-bottom: 20px;
}
.innerTitle {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.innerDescription {
    font-family: 'Open Sans', sans-serif;
    color: #dfdfdf;
    font-size: 0.875rem;
}

.contactIcons {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 45px 0;
}

.contactIcon {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 670px) {
    .adressContainer{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 3em;
    }
    .inner {
        margin-bottom: 50px;
    }
    .innerLogo {
        margin-bottom: 10px;
    }
    .innerDescription {
        width: 150px;
    }
    .contactIcons {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 6em;
    }
    .contactIcon {
        margin-bottom: 10px;
    }
    .title {
        justify-content: center;
    }
}

.label {
    background: #f26c4f;
    border-radius: 50%;
    height: 3rem;
    flex: 0 0 3rem;
    overflow: hidden;
    text-align: center;
    line-height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    font-weight: 600;
    letter-spacing: 0.015em;
}

.title {
    position: relative;
    z-index: 1;
    margin: 0 0 45px 0;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    width: 100%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

}

.nameEmail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 456px) {
    .nameEmail {
        flex-direction: column;
    }

    .name {
        margin-right: -15px;
    }

    .email {
        margin-left: -15px;
    }
}

.name {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    padding: 15px;
    margin-left: -15px;
}

.name span {
    color: white;
    margin-bottom: 5px;
}

.name input {
    height: 40px;
    color: #828282;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    outline: none;
}

.email {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    padding: 15px;
    margin-right: -15px;
}

.email span {
    color: white;
    margin-bottom: 5px;
}

.email input {
    height: 40px;
    color: #828282;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    outline: none;
}

.subject {
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 0;
}

.subject span {
    color: white;
    margin-bottom: 5px;
}

.subject input {
    height: 40px;
    color: #828282;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    outline: none;
}

.message {
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 0;
}

.message span {
    color: white;
    margin-bottom: 5px;
}

.message textarea {
    height: 100px;
    color: #828282;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    outline: none;
}
