.projectsBlock {
    min-height: 95vh;
    background-color: #45b05e;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #11a478;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

